<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /

    RewriteRule ^adminlte/(.*)$ application/third_party/backyard/packages/frontend/views/$1 [L,QSA]

    RewriteCond $1 !^(index\.php|images|uploads|robots\.txt|$)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>
